@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Roboto Slab", serif;
  color: #f1f1f1;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-blend-mode: multiply;
  background-image: url("/images/background.png");
  background-color: #2a2d33;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover-img {
  height: 200px;
  width: 200px;
  border: 2px solid #3e92a3;
  border-radius: 200px;
}

.cover-caption {
  font-size: 3rem;
  color: #3e92a3;
  font-weight: 800;
}

.sub-text {
  font-size: 1.5rem;
}

.about {
  background-color: #2a2d33;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.greet {
  text-align: center;
  margin-top: 40px;
  font-size: 2rem;
  padding: 15px;
}

.about-text {
  padding: 15px;
  margin: 5px;
  font-size: 20px;
}

#talkimg {
  width: 100%;
  height: 80%;
  border: 2px solid #3e92a3;
}

.footer {
  background-color: #3e92a3;
  background-blend-mode: multiply;
  bottom: 0;
  padding: 15px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer ul li {
  padding: 5px;
}

.footer ul li img {
  width: 50px;
  height: 50px;
}
.footer ul li img:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
  padding: 5px;
  border: 1px;
  border-radius: 20px;
  opacity: 1;
}

nav {
  position: fixed;
  top: 0;
  opacity: 0.9;
  width: 100%;
  z-index: 2;
  background-color: #2a2d33;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul li {
  padding: 20px;
  font-size: 2rem;
}

nav ul li a {
  color: #f1f1f1;
}
nav ul li a:hover {
  color: #3e92a3;
  transition: 0.3s ease-in;
}

nav .icon {
  float: right;
  margin-right: 30px;
  padding: 15px;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

nav span {
  padding: 20px;
}
#navlogo {
  height: 50px;
  margin: 10px;
  border: 1px #3e92a3;
  border-radius: 50px;
}

#skills {
  background-color: #3e92a3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill {
  height: 120px;
  padding: 20px;
}

#projects {
  min-height: 100vh;
  background-blend-mode: multiply;
  background-image: url("/images/background.png");
  background-color: #2a2d33;
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-card {
  padding: 20px;
  margin: 20px;
  height: 400px;
  background-color: #2a2d33;
  background-blend-mode: multiply;
  border: 1px;
  border-radius: 20px;
  transition: 0.5s ease;
}
.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-card:hover {
  cursor: pointer;
}

.project-link {
  color: #f1f1f1;
  border: 1px;
  border-radius: 20px;
  background-color: #555;
  padding: 5px;
  font-size: 1.2rem;
}
.project-link:hover {
  transition: 0.5s ease;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.opacity-08 {
  opacity: 0.8;
}

.opacity-02 {
  opacity: 0.2;
}

@media only screen and (max-width: 500px) {
  .project-card {
    font-size: 12px;
    height: 450px;
  }
}

#contactForm {
  background-color: #2a2d33;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

#formContainer {
  max-width: 50%;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
}

@media only screen and (max-width: 500px) {
  #formContainer {
    max-width: 100%;
  }
}
