.header {
  position: fixed;
  top: 0;
  opacity: 0.9;
  width: 100%;
  z-index: 2;
  background-color: #2a2d33;
  overflow: hidden;
  flex: 1;
  box-shadow: 0px 3px 6px #00000029;
}

.list {
  list-style-type: none;
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listItem {
  padding: 20px;
  font-size: 2rem;
}

.link {
  color: #f1f1f1;
}
.link:hover {
  color: #ffcb37;
  transition: 0.3s ease-in;
}

.icon {
  float: right;
  margin-right: 30px;
  padding: 15px;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.span {
  padding: 20px;
}
.navlogo {
  height: 50px;
  margin: 10px;
  border: 1px #ffcb37;
  border-radius: 50px;
}

.landing {
  margin-top: 50px;
  padding: 10px;
  background-image: url("/images/background.png");
  background-blend-mode: multiply;
  background-color: #2a2d33;
  height: 100vh;
}

.landingSubtext {
  font-size: 1.2rem;
}

.contactMeButton {
  border: none;
  background-color: #ffcb37;
  width: 300px;
  margin-top: 50px;
  padding: 10px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.contactMeButton:hover {
  background-color: #ffcb37;
}
.contactMeButton:focus,
.contactMeButton:active {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.aboutContainer {
  margin-top: 40px;
  padding: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image {
  height: 100%;
  width: 100%;
  border: 5px solid#FFCB37;
}

.aboutTextContainer {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2rem;
}

.footer {
  background-color: #ffcb37;
  background-blend-mode: multiply;
  bottom: 0;
  padding: 15px;
  font-size: 1.2rem;
  color: #2a2d33;
}

.footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  padding: 5px;
}

.footer ul li img {
  width: 50px;
  height: 50px;
}
.footer ul li img:hover {
  background-color: #f1f1f1;
  transition: 0.3s;
  padding: 5px;
  border: 1px;
  border-radius: 20px;
  opacity: 1;
}
