.header {
  position: fixed;
  top: 0;
  opacity: 0.9;
  width: 100%;
  z-index: 2;
  background-color: #2a2d33;
  overflow: hidden;
  flex: 1;
  box-shadow: 0px 3px 6px #00000029;
}

.list {
  list-style-type: none;
  margin-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listItem {
  padding: 20px;
  font-size: 2rem;
}

.link {
  color: #f1f1f1;
}
.link:hover {
  color: #17a2b9;
  transition: 0.3s ease-in;
}

.icon {
  float: right;
  margin-right: 30px;
  padding: 15px;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.span {
  padding: 20px;
}
.navlogo {
  height: 50px;
  margin: 10px;
  border: 1px#17a2b9;
  border-radius: 50px;
}
